
<div class="col-md-6">
    <h2>Products</h2>
                
    
    <table class="table" *ngIf="products && products.length">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Product Price</th>
          <th>Product Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.prod_name}}</td>
                <td>{{product.prod_price | currencyFormatter| number:'3.1-3'| currencysymbol}}</td>
                <td>{{product.prod_desc}}</td>
                <td><button class="btn btn-danger" ><i class="glyphicon glyphicon-remove"></i> Delete</button></td>
            </tr>
      </tbody>
    </table>
  </div>